<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="path" value="C:\Development\Testing" />
		<add key="server" value="https://localhost:5001" />
		<add key="batchSize" value="10" />
		<add key="date" value="20.03.2023" />
		<add key="user" value="UserName" />
	</appSettings>
</configuration>